@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("../assets/images/background.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

@layer utilities {
  .backdrop-blur-sm {
    backdrop-filter: blur(4px);
  }

  .backdrop-blur-md {
    backdrop-filter: blur(8px);
  }
}

.galss_effect {
  @apply backdrop-blur-md shadow-xl;
  box-shadow: 0 0px 10px 5px #ffffff47;
  background: #7d7d7d5e;
}
